body {
    background-color: #f8f9fa;
}

h2 {
    margin-bottom: 30px;
}
.carousel-item img {
    height: 500px;
    object-fit: cover;
}

.btn-light a{
    text-decoration: none;
    text-decoration-line: none;
    color: white;

}
#booknow {
    background-color: #007bff;
    border-color: #007bff;
}
.card{
    height: 450px;
}

#gallery_img .card {
    border: 1px solid #ddd; 
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden; 
    margin: 15px;
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
}

#gallery_img .card:hover {
    transform: translateY(-10px); 
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); 
}

#gallery_img .card img {
    height: 300px;
    object-fit: cover; 
    width: 100%;
    border-bottom: 1px solid #ddd; 
}
