
.header_section {
  color: #fff;
  padding: 0 0;
  top: 0;
  margin: 0;
}

.navbar-brand {
  font-size: 1.8rem; 
  font-weight: bold; 
  color: #ffffff;
}

.navbar-brand:hover {
  color: #007bff; 
}


.nav-item .nav-link {
  color: #ffffff; 
  font-size: 1.2rem;
  padding: 10px 15px;
}

.nav-item .nav-link:hover {
  color: #007bff;
  border-radius: 5px; 
}

.nav-item.dropdown .dropdown-menu {
  color:white;
}

.dropdown-item {
  color:white;
}

.dropdown-item:hover {
  background-color: #007bff;
  color: #ffffff;
}

@media (max-width: 992px) {
  .navbar-collapse {
    background-color:white; 
  }

  .navbar-toggler {
    border-color: #007bff;
  }
}

.shadow {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}
