.card-header h4 {
    margin: 0;
}
.form-label {
    font-weight: bold;
}
.btn-success, .btn-primary, .btn-danger {
    width: 100px;
}
.table {
    margin-top: 20px;
}
.card-header {
    text-align: center;
}
.card-body h3 {
    font-size: 2rem;
}
.card {
    margin-bottom: 20px;
}
.btn-sm {
    margin-right: 10px;
}

.submit-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.btn-success {
    transition: background-color 0.3s, transform 0.3s;
}
.btn-success:hover {
    background-color: #28a745;
    transform: scale(1.05);
}